node_modules
public/hot
public/storage
System/resources/js/utils/config.js
System/resources/js/bootstrap.js
System/resources/js/app.js
# System/.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
